{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="container py-5">
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Немножко Bootstrap
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Ну в общем почему здесь так мало сделано? Все объяснено на странице <a href="{% url 'about:author' %}">об авторе</a> </p>
    <img src="https://yt3.ggpht.com/ytc/AKedOLQXdVw0XBQLRAySp2kBKAfQVy7M09baq4bjQy7v=s900-c-k-c0x00ffffff-no-rj" class="img-fluid" alt="Responsive image">
  </article>
</div>
</div>
{% endblock %}